<div>
    <div class="data-container">
        <div class="data-container-information">
            <h1>Cita Médica: {{appointment.codigoCita}}</h1>
            <p>{{appointment.fechaCita | date: 'longDate'}}</p>
            <p>{{appointment.doctor.usuario.nombre}} {{appointment.doctor.usuario.apellidoPaterno}}</p>
        </div>
        <div>
            <button (click)="createListMedicalPrescription()" class="btn btn-primary">Finalizar Registro</button>
        </div>
    </div>

    <div class="register-medication-container">
        <h2 class="register-medication-container-title">Prescripción Medica</h2>
        <div>
            <form [formGroup]="formMedicalPrescription" action="" class="register-medication-container-form">
                <div class="form-group">
                    <label for="paciente">Medicacmento: </label>
                    <input formControlName="medicamento_id" type="text" class="form-control" placeholder="Diagnóstico">
                    <!--<select formControlName="medicamento_id" class="form-control"></select>-->
                </div>
                <div class="form-group">
                    <label for="paciente">Cantidad: </label>
                    <input formControlName="cantidad" type="number" class="form-control" placeholder="Diagnóstico">
                </div>
                <div class="form-group">
                    <label for="">Descripción</label>
                    <textarea formControlName="descripcion" name="" class="form-control" cols="10" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="paciente">Fecha de inicio: </label>
                    <input formControlName="fechaInicio" type="date" class="form-control" placeholder="Diagnóstico">
                </div>
                <button (click)="addList()" class="btn btn-primary">Registrar Historia</button>
            </form>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Cantidad</th>
                    <th>Fecha de inicio</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalPrescription of listMedicalPrescription">
                    <td>{{medicalPrescription.medicamento_id}}</td>
                    <td>{{medicalPrescription.cantidad}}</td>
                    <td>{{medicalPrescription.fechaInicio | date: 'longDate'}}</td>
                    <td>{{medicalPrescription.descripcion}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>